@CHARSET "ISO-8859-1";

body {
    background-color: #005B9A;
    font-family: "Arial";
    color: #294752;
}

.awesomePage {
	width: 950px;
    margin-left: auto;
    margin-right: auto;    
	
}

h1 {

}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

@CHARSET "ISO-8859-1";
.mainContainer {
	padding: 15px;
	background-color: #FAFAFA;
	width: 660px;
	height: auto;
	border-radius: 5px;
}

.recepieTop {
	float: top;
	border-radius: 5px;
	padding: 3px;
}

.recepieName {
	display: inline;
	margin-left: 35px;
}

.recepieName h1 {
	display: inline;
	font-size: 32px;
	font-style: normal;
	text-transform: capitalize;
}

.recepieBy {
	display: inline;
	color: #6B9DB3;
	font-style: italic;
	font-size: 12px;
}

.recepieName:first-letter {
	text-transform: capitalize;
}

.recepieAuthor {
	display: inline;
}

.recepieTypes {
	display: inline;
	position: relative;
	float: right;
	padding-top: 5px;
	color: #6B9DB3;
	font-style: italic;
	font-size: 12px;
}

.recepieTopInfo {
	margin-left: 35px;
	margin-right: 35px;
	padding: 2px;
	padding-bottom: 15px;
}

.recepieTimeToMake {
	display: inline;
}

.recepiePortionCount {
	display: inline;
}

.recepieTimeToMakeIco {
	display: inline;
	content:url(../../resources/icons/clock.png);
	width: 20px;
	height: auto;
}

.recepiePortionCountIco {
	display: inline;
	content:url(../../resources/icons/plate.png);
	width: 20px;
	height: auto;
}

.recepieMid {
	margin-left: 35px;
	margin-right: 35px;
	padding-bottom: 15px;
}

.recepieProducts {
	display: inline;
	float: left;
}

.recepieProducts table {
	width: 235px;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	background: #fff;
}

.recepiePhotos {
	display: inline;
	float: right;
}

.recepiePhotos img {
	width: 250px;
	height: auto;
}

.recepieScore {
	float: right;
}

.recepieScore #starFull {
	display: inline;
	content:url(../../resources/icons/full_star.png);
	width: 20px;
	height: auto;
}

.recepieScore #starEmpty {
	display: inline;
	content:url(../../resources/icons/empty_star.png);
	width: 20px;
	height: auto;
}

.clear {
	clear: both;
}

.recepieBottom {
	padding-top: 15px;
}

.recepieDescription {
	padding: 15px 10px 10px 10px;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	background: #fff;
	text-align: justify;
	display:block;
}

/* .bottom-slider { */
/* 	-moz-box-shadow: 0 0 5px #ccc; */
/* 	-webkit-box-shadow: 0 0 5px #ccc; */
/* 	box-shadow: 0 0 5px #ccc; */
/* 	border:  5px solid #fff; */
/* 	background: #fff; */
/* 	left: -5px; */
/* 	width: 95%; */
/*     white-space: nowrap; */
/*     overflow-x: auto; */
/*     line-height: 1em; */
/* } */

/* .bottom-slider a { */
/*     display: inline-block; */
/* } */

/* .bottom-slider img { */
/* 	width: 50px; */
/* 	height: auto; */
/* } */

#carousel-wrapper {
	position: relative;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: 5px solid #fff;
	background: #fff;
	white-space: nowrap;
	line-height: 1em;
}

#carousel, #thumbs {
	overflow: hidden;
	width: 230px;
	height: auto;
}

#carousel-wrapper .caroufredsel_wrapper {
	box-shadow: 0 0 5px #899;
}

#carousel span, #carousel img, #thumbs a, #thumbs img {
	display: block;
	float: left;
}

#carousel span, #carousel a, #thumbs span, #thumbs a {
	position: relative;
}

#carousel img, #thumbs img {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width:280px;
	height: auto;
}

#carousel img.glare, #thumbs img.glare {
	width: 102%;
	height: auto;
}

#carousel span {
	width: 100%;
	height: auto;
}

#thumbs-wrapper {
	padding-left: 21px;
	padding-right: 21px;
	position: relative;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: 5px solid #fff;
	background: #fff;
	white-space: nowrap;
	overflow-x: auto;
	line-height: 1em;
	
}
#thumbs a {
	width: 50px;
	height: auto;
	margin: 0 5px;
	overflow: hidden;
}

#thumbs img {
	width: 50px;
	height: auto;
}

#thumbs a:hover, #thumbs a.selected {
	border-color: #566;
}


#prev, #next {
	background: transparent url('img/gui/carousel_nav.png') no-repeat
		0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}

#prev {
	background-position: 0 0;
	left: 0px;
}

#next {
	background-position: -19px 0;
	right: 0px;
}

#prev:hover {
	background-position: 0 -20px;
}

#next:hover {
	background-position: -19px -20px;
}

#prev.disabled, #next.disabled {
	display: none !important;
}

@CHARSET "ISO-8859-1";

.topNav {
	height: 25px;
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 5px;
	margin-bottom: 5px;
}

@CHARSET "ISO-8859-1";

.topContainer {
	height: 150px;
	padding: 15px;
	background-color: #FAFAFA;
	border-radius: 5px;
	margin-bottom: 5px;
}


.title h1 {
	font-size: 32px;
	font-style: normal;
	text-transform: capitalize;
}

.title h1 {
	text-align: center;
}

.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 145px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

