@CHARSET "ISO-8859-1";

body {
    background-color: #005B9A;
    font-family: "Arial";
    color: #294752;
}

h1 {

}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

.recepieContainer {
	padding: 15px;
	background-color: #FAFAFA;
	width: 660px;
	height: auto;
	border-radius: 5px;
}

.recepieTop {
	float: top;
	border-radius: 5px;
	padding: 3px;
}

.recepieName {
	display: inline;
	margin-left: 35px;
}

.recepieName h1 {
	display: inline;
	font-size: 32px;
	font-style: normal;
	text-transform: capitalize;
}

.recepieBy {
	display: inline;
	color: #6B9DB3;
	font-style: italic;
	font-size: 12px;
}

.recepieName:first-letter {
	text-transform: capitalize;
}

.recepieAuthor {
	display: inline;
}

.recepieTypes {
	display: inline;
	position: relative;
	right: -300px;
	color: #6B9DB3;
	font-style: italic;
	font-size: 12px;
}

.recepieTopInfo {
	margin-left: 35px;
	margin-right: 35px;
	padding: 2px;
}

.recepieTimeToMake {
	display: inline;
}

.recepiePortionCount {
	display: inline;
}

.recepieTimeToMakeIco {
	display: inline;
	content:url(../../resources/icons/clock.png);
	width: 20px;
	height: auto;
}

.recepiePortionCountIco {
	display: inline;
	content:url(../../resources/icons/plate.png);
	width: 20px;
	height: auto;
}

.recepieMid {
	margin-left: 35px;
	margin-right: 35px;
}

.recepieProducts {
	display: inline;
	float: left;
}

.recepieProducts table {
	width: 235px;
}

.recepiePhotos {
	float: right;
}

.recepiePhotos img {
	width: 250px;
	height: auto;
}

.recepieScore {
	float: right;
}

.clear {
	clear: both;
}

.recepieBottom {
	margin-left: 35px;
	margin-right: 35px;
}

.recepieDescription {
	text-align: justify;
	text-justify: inter-word;
	display:block;
}
