@CHARSET "ISO-8859-1";



a#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
}

a#logo:hover {
  color: #fff;
  text-decoration: none;
}
